<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Biscoito da Sorte</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>

    <header>
        <img class="logo" src="/img/fortune-cookie.png" alt="">
        <h1>Biscoito da Sorte</h1>
    </header>

    <main>
        <h2>Uma pessoa nunca é muito velha para aprender.</h2>
        <a href="/">Gerar Sorte</a>
    </main>

</body>

</html>